/*************************************/
/* CTA SECTION */
/*************************************/

.section-cta {
  padding: 2rem;
  margin-bottom: 4rem;
  height: 100vh;
}

.div-cta > h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.div-cta {
  margin-bottom: 4rem;
}

.cta-form {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.cta-form input,
textarea {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  resize: none;
  background-color: #f6f1ef;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 4px #a7c8f7;
}

.btn {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-send {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1.2em;
  font-weight: 700;
  font-family: inherit;
  color: #294f86;
  width: 50%;
  background-color: #bbd6fb;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-send:hover {
  background-color: #e0e4e9;
  border-color: #646cff;
  transition-timing-function: ease-in-out;
  transition: background-color 0.5s;
}
.btn-send:focus,
.btn-send:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
