/*************************************/
/* SECTION PROJECTS */
/*************************************/

.projects__page {
  margin-top: 6rem;
}

.section-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
}

.div-projects > h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.div-projects {
  margin-bottom: 4rem;
}

/* Project cells */

.grid-projects {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  column-gap: 4rem;
  row-gap: 4rem;
}

.div-projects--details {
  display: grid;
  grid-template-rows: 0.5fr auto auto auto;
  grid-template-columns: 1fr;
}

.div-projects--details > img {
  margin-bottom: 2em;
  border-radius: 4px;
  width: 100%;
}

.div-projects--details > h2 {
  margin-bottom: 1.2rem;
}

/* view project button */
.btn__view--project {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.btn__view--project:hover {
  cursor: pointer;
  color: #979393;
}

.project-border {
  border: 3rem solid #f3f3f3;
  border-top: 2rem solid rgb(243, 243, 243);
  border-bottom: 2rem solid rgb(243, 243, 243);
  border-radius: 4px;
}

#quizz-grid {
  display: flex;
  margin-bottom: 3.5em;
}

.quizzical-img {
  border-radius: 8px;
  width: 100%;
}

/*************************************/
/* CURRENT PROJECT */
/*************************************/

.current__project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.current__project > img {
  margin-bottom: 2rem;
}

.current__project > h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.current__project > p {
  font-weight: 600;
}

.current__project--soon {
  margin-top: 2rem;
}

.current__project--img {
  opacity: 95%;
  border-radius: 8px;
  width: 90%;
}

/***********************/
/** RESPONSIVE DESIGN **/
/***********************/

@media only screen and (max-width: 1076px) {
  .project-border {
    border: 1.5rem solid #f3f3f3;
    border-top: 1rem solid rgb(243, 243, 243);
    border-bottom: 1rem solid rgb(243, 243, 243);
    border-radius: 4px;
  }
}

@media only screen and (max-width: 750px) {
  .project-border {
    border: 1rem solid #f3f3f3;
    border-top: 0.5rem solid rgb(243, 243, 243);
    border-bottom: 0.5rem solid rgb(243, 243, 243);
    border-radius: 4px;
  }
}
@media only screen and (max-width: 556px) {
  .project-border {
    border: 1.5rem solid #f3f3f3;
    border-top: 1rem solid rgb(243, 243, 243);
    border-bottom: 1rem solid rgb(243, 243, 243);
    border-radius: 4px;
  }
  .grid-projects {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    column-gap: 8rem;
    row-gap: 4rem;
  }
}

@media only screen and (max-width: 438px) {
  .div-projects > h1 {
    font-size: 1.4em;
  }
}
