/*************************************/
/* SECTION PROJECTS */
/*************************************/

.section-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
}

.div-projects > h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.div-projects {
  margin-bottom: 4rem;
}

/* Project cells */

.grid-projects {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 8rem;
  row-gap: 4rem;
}

.div-projects--details {
  display: flex;
  flex-direction: column;
}

.div-projects--details > img {
  width: 100%;
  margin-bottom: 2rem;
}

.project-border {
  border: 3rem solid #f3f3f3;
  border-top: 1.2rem solid rgb(243, 243, 243);
  border-bottom: 1.2rem solid rgb(243, 243, 243);
  border-radius: 4px;
}

.quizzical-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 3rem;
}

.div-projects--details div {
  display: flex;
  cursor: pointer;
}

.div-projects--details div:hover {
  color: #979393;
}

.div-projects--details > h2 {
  margin-bottom: 1.2rem;
}

.div-projects--details > p {
  margin-bottom: 1rem;
}

.view_project:hover {
  color: #979393;
}
