/*************************************/
/* GENERAL */
/*************************************/

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: relative;
  align-items: center;
  justify-items: center;
  position: relative;
  margin-bottom: 6rem;
}
/*************************************/
/* LOGO */
/*************************************/

.logo {
  width: 10%;
  border-radius: 50px 50% 500cm;
}
.fadeIn {
  animation: fade 5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*************************************/
/* NAVIGATION */
/*************************************/

#navbar__container {
  display: flex;
  align-items: center;
}

#btn__mobile {
  display: flex;
  justify-content: center;
  margin-right: 8em;
}

/* Hidden border right from navbar  */
#root
  > div
  > div
  > header
  > div
  > div
  > div
  > div.MuiBox-root.css-1t6c9ts
  > button:nth-child(4) {
  border-right: none;
}

#root
  > div
  > header
  > div
  > div
  > div
  > div.MuiBox-root.css-1t6c9ts
  > button:nth-child(3) {
  border-right: none;
}

.navbar__container {
  margin-right: 8em;
}

.main-nav-link {
  padding-top: 0.4rem;
  border-right: 1px solid;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: none;
}

.main-nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #a7c8f7;
  transition: width 0.3s;
}

.main-nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*************************************/
/* THEME COLOR */
/*************************************/

.header-theme--sun {
  margin-top: 1.2em;
  margin-left: 4em;
}

/***********************/
/** RESPONSIVE DESIGN **/
/***********************/

@media only screen and (max-width: 899px) {
  /* NAVIGATION */

  #navbar__container {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
  }

  #btn__mobile {
    display: flex;
    justify-content: flex-end;
    margin-right: 0em;
  }
}

@media only screen and (max-width: 761px) {
  /* NAVIGATION */
  /* move mobile button to right */
  #root
    > div
    > div
    > header
    > div
    > div
    > div
    > div.MuiBox-root.css-1lvtzne
    > button {
    margin-right: 2em;
  }

  /* position dark/light  button */
  #root > div > div > button {
    top: 10px;
  }
}

@media only screen and (max-width: 650px) {
  /* NAVIGATION */
  /* move mobile button to right */
  #root
    > div
    > div
    > header
    > div
    > div
    > div
    > div.MuiBox-root.css-1lvtzne
    > button {
    margin-right: 2em;
  }

  /* position dark/light  button */
  #root > div > div > button {
    top: 2px;
  }
}

@media only screen and (max-width: 600px) {
  /* NAVIGATION */
  /* move mobile button to right */
  #root
    > div
    > div
    > header
    > div
    > div
    > div
    > div.MuiBox-root.css-1lvtzne
    > button {
    margin-right: 1em;
  }

  /* position dark/light  button */
  #root > div > div > button {
    top: 2px;
  }
}

@media only screen and (max-width: 530px) {
  /* NAVIGATION */
  /* move mobile button to right */
  #root
    > div
    > div
    > header
    > div
    > div
    > div
    > div.MuiBox-root.css-1lvtzne
    > button {
    margin-right: 1em;
  }

  /* position dark/light  button */
  #root > div > div > button {
    top: 2px;
  }
}

@media only screen and (max-width: 375px) {
  .logo {
    top: -20%;
    left: -10%;
    width: 20%;
  }

  /* NAVIGATION */
  /* move mobile button to right */
  #root
    > div
    > div
    > header
    > div
    > div
    > div
    > div.MuiBox-root.css-1lvtzne
    > button {
    margin-right: 3em;
  }

  /* position dark/light  button */
  #root > div > div > button {
    top: 9px;
  }
}

@media only screen and (max-width: 330px) {
  .logo {
    top: -20%;
    left: -10%;
    width: 20%;
  }

  /* NAVIGATION */
  /* move mobile button to right */
  #root
    > div
    > div
    > header
    > div
    > div
    > div
    > div.MuiBox-root.css-1lvtzne
    > button {
    margin-right: 2em;
  }

  /* position dark/light  button */
  #root > div > div > button {
    top: 9px;
  }
}
