/*************************************/
/* SECTION SKILLS */
/*************************************/

.section-skills {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-bottom: 6em;
}

.div-skills--title > h1 {
  margin-bottom: 1em;
}

.div-skills--title {
  margin-bottom: 3em;
}

.div-skills--stacks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stacks {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.stacks-backend {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 1rem;
}
.div-skills--grid {
  display: flex;
}

.div-skills--grid > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 1em;
  margin-right: 1.8em;
}

.div-skills--grid > div > p {
  font-size: 1rem;
}
