/*************************************/
/* FOOTER */
/*************************************/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-bottom: 2em;
}

.logo_footer {
  width: 20%;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.github,
.linkedin,
.email {
  font-size: 30px;
}

.footer-social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
  position: relative;
}

.footer-social-links > a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

.footer-link > p {
  text-decoration: none;
  transition: all 0.3s;
  margin-right: 0.5rem;
}

.footer-link > p:hover {
  transition: all 0.3s;
  color: #9ec2f5;
}

/** RESPONSIVE MOBILE **/
@media only screen and (max-width: 866px) {
  .logo_footer {
    width: 30%;
  }

  .copyright {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 666px) {
  .logo_footer {
    width: 50%;
  }

  .copyright {
    font-size: 0.7em;
  }

  .footer-social-links > a {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 512px) {
  .logo_footer {
    width: 50%;
  }

  .copyright {
    font-size: 0.7em;
  }

  .footer-social-links > a {
    font-size: 0.8em;
  }

  .github,
  .linkedin,
  .email {
    font-size: 10px;
  }
}

@media only screen and (max-width: 512px) {
  .logo_footer {
    width: 30%;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-social-links {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .footer-social-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-right: 1em;
    margin-top: 1.6em;
    font-weight: 400;
    gap: 0.4em;
  }
  .footer-social-links > a {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  }
}
