/***** General  ******/

.title {
  margin-bottom: 6rem;
}

.sub-title {
  margin-bottom: 2rem;
}

.main__projects {
  margin-top: 4em;
}

/***** Section Introduction  ******/

.introduction {
  margin-bottom: 8rem;
}

.summary {
  margin-bottom: 4rem;
}
.summary > h1 {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.projects-logo {
  width: 15%;
}

.list_of_features {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
  gap: 4rem;
  margin-bottom: 6rem;
}

.site_features,
.site_stacks {
  margin-top: 12px;
}

.ul-features {
  font-family: sans-serif;
  font-size: 0.9rem;
  line-height: 1.8;
}

.ul-stack {
  font-family: sans-serif;
  font-size: 0.9rem;
  list-style-type: none;
  line-height: 1.8;
}

.project-img {
  width: 100%;
  border-radius: 10px;
}

.img--border {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/***** Section purpose and goal  ******/

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 4rem;
}

.design-figma {
  margin-top: 1rem;
  margin-left: 2rem;
}

.figma-img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.getfood_design {
  width: 50%;
}

.cooker_design {
  width: 100%;
  border: 2rem solid #f3f3f3;
  border-top: 1.2rem solid rgb(243, 243, 243);
  border-bottom: 1.2rem solid rgb(243, 243, 243);
  border-radius: 4px;
}

/***** Section web stack technology  ******/

.web_stack_technology {
  grid-column: 2;
  grid-row: 2 / 3;
  margin-top: 2rem;
}

.stack-icons {
  display: grid;
  justify-items: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.stack-icon {
  display: flex;
  align-items: center;
  width: 30%;
  height: 50%;
  padding: 0.4rem 1.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 3px;
}

.web__stack--projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-top: 8em;
  margin-bottom: 8em;
}

/***** Section Problems_and_thought  ******/

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.Problems_and_thought {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 50%;
}

.Problems_and_thought_img {
  width: 70%;
}

/***** Section Problems_and_thought  ******/

.Lessons_Learned {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

/************************/
/** RESPONSIBLE MOBILE **/
/***********************/

/* Introduction */
@media only screen and (max-width: 1128px) {
  .list_of_features {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 6rem;
    gap: 1rem;
  }

  .site_view {
    grid-column: 1 / 3;
    margin-bottom: 4rem;
  }

  .site_features {
    grid-column: 1;
    grid-row: 2;
    margin-top: 0px;
    padding-left: 2em;
  }

  .site_stacks {
    grid-column: 2;
    grid-row: 2;
    margin-top: 0px;
    padding-left: 2em;
  }

  /* Project purpose and goal */

  .project-grid {
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 0px;
  }

  .web__stack--projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 6rem;
    gap: 0em;
  }

  .web__stack--projects > div {
    margin-bottom: 2rem;
    width: 80%;
  }

  /* Problems and though process */
  .Problems_and_thought,
  .Problems_and_thought_img {
    width: 80%;
  }

  .stack-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 783px) {
  .div-projects > h1 {
    font-size: 1.8em;
  }

  .design-figma {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 0rem;
  }
  .stack-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .stack-icon {
    width: 60%;
    height: 40%;
    padding: 0.4rem 1.5rem;
  }
}

@media only screen and (max-width: 688px) {
  .summary > h1 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 619px) {
  .summary > h1 {
    font-size: 2em;
  }

  .div-projects > h1 {
    font-size: 1.6em;
  }

  .stack-icon {
    width: 70%;
    height: 40%;
    padding: 0.4rem 1.5rem;
  }
}

@media only screen and (max-width: 556px) {
  .stack-icon {
    width: 80%;
    height: 40%;
    padding: 0.4rem 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .stack-icon {
    width: 80%;
    height: 25%;
    padding: 0.4rem 1.5rem;
  }

  /* text inside stack icons */
  #root > div > main > div.project-grid > div.stack-icons > div > span {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 375px) {
  .summary > h1 {
    font-size: 1.4em;
  }

  .sub-title {
    font-size: 1em;
  }

  .div-projects > h1 {
    font-size: 1.1em;
  }
  .stack-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
  }
  .stack-icon {
    width: 60%;
    height: 40%;
    padding: 0.4rem 1.5rem;
    margin-top: 0rem;
    margin-bottom: 1.2rem;
  }
}
